/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap') */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --primary-color: #1d1c1d;
  --secondary-color-white: #f0ecf6;
  --secondary-color: #0190fd;
  --accent-color: #85c923;
  --orange-color: #fd9f37;
  --grey-color: grey;
  --black-color: black;
  --white-color: white;
  --login-bg: white;
  --border-px: 2px;
  --border-color: #1d1c1d;
  --google-border: 2px;
  --link-color: #0190fd;
  --common-white: white;
  --drop-down: drop-shadow(0px 0px 21px #bababa);
}

[data-theme="red-light"] {
  --primary-color: #1d1c1d;
  --secondary-color-white: #f0ecf6;
  --secondary-color: #d73d63;
  --accent-color: #85c923;
  --orange-color: #fd9f37;
  --grey-color: grey;
  --black-color: black;
  --white-color: white;
  --login-bg: white;
  --border-px: 2px;
  --border-color: #1d1c1d;
  --google-border: 2px;
  --link-color: #d73d63;
  --common-white: white;
  --drop-down: drop-shadow(0px 0px 21px #d73d63);
}

[data-theme="red-dark"] {
  --primary-color: #f2f2f3;
  --secondary-color-white: #000d0d;
  --secondary-color: #d73d63;
  --accent-color: #fd9f37;
  --orange-color: #0190fd;
  --grey-color: #999999;
  --black-color: white;
  --white-color: #14111d;
  --login-bg: #000d0d;
  --border-px: 1px;
  --border-color: #d73d63;
  --google-border: 0px;
  --link-color: #0190fd;
  --common-white: white;
  --drop-down: drop-shadow(0px 0px 22px #d73d63);
}

[data-theme="blue-dark"] {
  --primary-color: #f2f2f3;
  --secondary-color-white: #000d0d;
  --secondary-color: #0190fd;
  --accent-color: #fd9f37;
  --orange-color: #0190fd;
  --grey-color: #999999;
  --black-color: white;
  --white-color: #14111d;
  --login-bg: #000d0d;
  --border-px: 1px;
  --border-color: #0190fd;
  --google-border: 0px;
  --link-color: #0190fd;
  --common-white: white;
  --drop-down: drop-shadow(0px 0px 22px #0190fd);
}

[data-theme="green-dark"] {
  --primary-color: #f2f2f3;
  --secondary-color-white: #000d0d;
  --secondary-color: #13A280;
  --accent-color: #fd9f37;
  --orange-color: rgb(1, 144, 253);
  --grey-color: #999999;
  --black-color: white;
  --white-color: #14111d;
  --login-bg: #000d0d;
  --border-px: 1px;
  --border-color: #13A280;
  --google-border: 0px;
  --link-color: #0190fd;
  --common-white: white;
  --drop-down: drop-shadow(0px 0px 22px #13A280);
}


/* #000e0e */
/* Bottom Navigation Bar
*/
