@keyframes fadeInFromBottom {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.login__container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background-color: var(--background-color);
  color: var(--primary-color);
}

.login__container__logo__container {
  width: 100%;
  height: 12%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 2rem;
}

.login__container__logo__img {
  width: 9rem;
  height: 6rem;
}

.login__container__contents__wrapper {
  width: 100%;
  height: 88%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}

.login__container__contents__wrapper__container {
  width: 50%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;

  h1 {
    opacity: 0;
    animation: fadeInFromBottom 0.5s ease-out forwards;
  }
}

.login__form {
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .input-fade-in {
    transition: all 1s ease-out;
    animation: fadeInFromBottom 0.5s ease-out forwards;
  }

  input {
    margin-bottom: 1rem;
    width: 50%;
    height: 3rem;
    border: 1px solid black;
    padding-left: 1rem;
    border-radius: 0.5rem;
    background-color: var(--secondary-color);
    opacity: 0;
    color: white;
    outline: none;
    font-size: 16px;
    border: none;
  }

  input::placeholder {
    color: rgb(147, 147, 147);
  }

  .input-fade-in_button {
    margin-top: 1rem;
    margin-left: -1rem;
    opacity: 0;
    animation: fadeInFromBottom 0.5s ease-out forwards;
    width: 50%;
    height: 3rem;
    border: 1px solid black;
    border-radius: 0.5rem;
    border: none;
    color: white;
    transition: all 0.5s ease-out !important;
    background: linear-gradient(90deg, #0bc2fb 0%, #086ae5 100%);
    font-size: 16px;
    margin-bottom: 2rem;
  }

  .input-fade-in_button:hover {
    cursor: pointer;
    opacity: 1;
    background-position: -23rem;
    -webkit-box-shadow: 0px 0px 77px -21px #0bc3fb;
    -moz-box-shadow: 0px 0px 77px -21px rgba(11, 195, 251, 1);
    box-shadow: 0px 0px 77px -21px rgba(11, 195, 251, 1);
  }
}

.input-fade-in_button::before,
.input-fade-in_button::after {
  content: "";
  position: absolute;
  inset: 0rem;
  background: linear-gradient(
    var(--gradient-angle),
    #5ddcff,
    #0bc3fb 43%,
    #086ae5
  );
  animation: Rotation 10s linear infinite;
  z-index: -1;
  border-radius: 0.5rem;
}

@keyframes Rotation {
  0%,
  100% {
    --gradient-angle: 0deg;
  }
  12.5% {
    --gradient-angle: 90deg;
  }
  25% {
    --gradient-angle: 180deg;
  }
  37.5% {
    --gradient-angle: 270deg;
  }
  50% {
    --gradient-angle: 360deg;
  }
  62.5% {
    --gradient-angle: 270deg;
  }
  75% {
    --gradient-angle: 190deg;
  }
  87.5% {
    --gradient-angle: 90deg;
  }
}

.google__btn__container {
  width: 50%;
  height: 3rem;
  margin-left: -1rem;
  border-radius: 0.5rem;
  font-size: 16px;
  background-color: var(--secondary-color);
  color: white;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fadeInFromBottom 0.5s ease-out forwards;
  transition: all 0.5s ease-out;
  position: realtive;
  z-index: 1;
  opacity: 0;
}

.google__btn__content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  border: none;
  justify-content: center;
  color: white;
  background-color: var(--secondary-color);
  border-radius: 0.5rem;
}

.google__btn__container::before,
.google__btn__container::after {
  content: "";
  position: absolute;
  inset: -0.17rem;
  background: linear-gradient(
    var(--gradient-angle),
    rgb(0, 255, 0) 30%,
    red 23%,
    yellow,
    rgb(0, 166, 255) 23%
  );
  animation: rotation 5s linear infinite;
  z-index: -1;
  border-radius: 0.5rem;
}

.google__btn__container::after {
  filter: blur(3.5rem);
}

.google__logo__image {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
}

.google__btn__container:hover {
  cursor: pointer;
  background-color: var(--background-color);
  -webkit-box-shadow: 0px 0px 97px 0px rgba(46, 81, 102, 1);
  -moz-box-shadow: 0px 0px 97px 0px rgba(46, 81, 102, 1);
  box-shadow: 0px 0px 97px 0px rgba(46, 81, 102, 1);
}

.google__btn:active {
  scale: (-1.2);
}

.page__redirection__link {
  margin-top: 1.5rem;
  opacity: 0;
  animation: fadeInFromBottom 0.5s ease-out forwards;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  p {
    margin-left: 0.5rem;
    cursor: pointer;
    color: #0bc3fb;
  }
}

@media screen and (max-width: 768px) {
  .login__container__contents__wrapper__container{
    width: 100%;
    height: 100%;
  }

  .login__form{
    margin-top: -11rem;
    margin-left: 1rem;

    input{
      width: 17rem;
    }
  }

  .input-fade-in_button{
    width: 65% !important;
  }

  .google__btn__container {
    width: 65%;
  }
}