.modal__content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 10rem;

    p{
        margin-top: 3rem;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    img{
        width: 2rem;
        height: 2rem;
        margin: 0 0.3rem;
    }

    h4{
        font-weight: 500;
        font-size: 17px;
    }

    span{
        margin-top: 5rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .ok__button{
        width: 8rem;
        height: 2.6rem;
        margin-left: 2rem;
        color: var(--common-white);
        background-color: var(--secondary-color);
        border: none;
        border-radius: 0.5rem;
    }

    .cancel__button{
        width: 8rem;
        height: 2.6rem;
        background-color: var(--white-color);
        color: var(--common-white);;
        border: 1px solid var(--common-white);;
        border-radius: 0.5rem;
    }
}