.navbar__container {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  background-color: var(--white-color);
}

.navbar__logo {
  font-size: 29px;
  font-weight: 700;
  color: var(--primary-color);
}

.navbar__searchbar {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 30rem;
  height: 2.8rem;
}

.navbar__searchbar__input {
  width: 100%;
  height: 80%;
  outline: none;
  border-radius: 0.6rem;
  border: none;
  padding-left: 1rem;
  padding-right: 2.5rem;
  transition: all 0.2s ease-out;
  background-color: var(--secondary-color-white);
  color: var(--primary-color);
}

/* .navbar__searchbar__input:hover {
  background-color: var(--white-color);
  -webkit-box-shadow: 3px -1px 105px 17px rgba(232, 232, 232, 1);
  -moz-box-shadow: 3px -1px 105px 17px rgba(232, 232, 232, 1);
  box-shadow: 3px -1px 105px 17px rgba(232, 232, 232, 1);
} */

.navbar__searchbar__icon {
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  font-size: 22px;
  color: var(--common-white);
  background-color: var(--secondary-color);
  border-radius: 0.6rem;
}

.navbar__contents {
  height: 100%;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navbar__contents__icon__group {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 2rem;
  /* background-color: green; */
}

.navbar__contents__icon {
  color: var(--primary-color);
  font-size: 22px;
  margin-right: 1rem;
}

.theme__toggle{
  color: var(--primary-color);
  font-size: 22px;
  margin-right: 1rem;
}

.navbar__contents__btn__group {
  width: 70%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #1d1c1d; */
}

.navbar__login__btn {
  width: 48%;
  margin-right: 1rem;
  height: 60%;
  border-radius: 0.5rem;
  border: 1px solid var(--primary-color);
  background-color: var(--white-color);
  color: var(--primary-color);
}

.navbar__signup__btn {
  width: 48%;
  height: 60%;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--secondary-color);
  color: var(--common-white);
}

.profile__pic{
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  overflow: hidden;

  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.theme-dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-toggle {
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  background-color: var(--secondary-color-white);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  /* padding: 8px 0; */
  z-index: 1;
  border-radius: 0.6rem;
  font-size: 14px;
  width:7rem;
  border-bottom: 1px solid white;
}

.dropdown-item {
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 0.6rem;
}

.dropdown-item.active {
  background-color: #e0e0e0;
}

.dropdown-item-blue-dark{
  background-color: #000101;
  color: #0190fd;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 3px solid #0190fd;
  /* border-radius: 0.6rem; */
  width: 100%;
  height: 2rem;
  transition: all 0.3s ease-out;
}

.dropdown-item-blue-dark:hover{
  background-color: #0190fd;
  color: white;
}

.dropdown-item-green-dark{
  background-color: #000101;
  color: #13A280;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 3px solid #13A280;
  /* border-radius: 0.6rem; */
  width: 100%;
  height: 2rem;
  transition: all 0.3s ease-out;
}

.dropdown-item-green-dark:hover{
  background-color: #13A280;
  color: white;
}

.dropdown-item-red-dark {
  background-color: #000101;
  color: #d73d63;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 3px solid #d73d63;
  /* border-radius: 0.6rem; */
  width: 100%;
  height: 2rem;
  transition: all 0.3s ease-out;
}

.dropdown-item-red-dark:hover{
  background-color: #d73d63;
  color: white;
}

@media (max-width: 768px) {
  .navbar__container {
    padding: 1rem;
  }

  .navbar__logo{
    span{
      font-size: 24px;
    }
  }

  .navbar__searchbar {
    margin-right: -3rem;
    margin-left: 5rem;
  }

  .navbar__contents__icon__group{
    display: none;
  }

  .navbar__contents__btn__group{
    display: none;
  }
}