/* -------------- Navbar for large screens ---------------- */

.navbar__container{
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: var(--secondary-color); */
}

.navbar__container__logo__container{
    width: 14%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .navbar__container__logo__img{
        width: 9rem;
        height: 6rem;
    }
}

.navbar__container__searchbar__container{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar__container__searchbar__input{
    width: 80%;
    height: 2.5rem;
    padding-left: 1rem;
    border-radius: 1rem;
    background-color: var(--secondary-color);
    color: white;
    outline: none;
    font-size: 16px;
    border: none;
}

.navbar__container__searchbar__icon{
    color: white;
    margin-left: -2rem;
    font-size: 1.4rem;
}

.navbar__container__profile{
    margin-right: 2rem;
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    button{
        width: 5rem;
        height: 2.5rem; 
        border-radius: 0.5rem;
        border: none;
        color: white;
        font-size: 1rem !important;
    }
}

.navbar__container__profile__login{
    background-color: var(--primary-color);
}

.navbar__container__profile__signup{
    position: relative;
    background-color: var(--secondary-color);
    border-radius: 0.5rem;

    button{
        background-color: var(--secondary-color);
        border-radius: 0.5rem;
    }
}


.navbar__container__profile__signup::before,
.navbar__container__profile__signup::after {
  content: "";
  position: absolute;
  inset: -0.2rem;
  background: conic-gradient(
    from var(--gradient-angle),
    rgba(227, 40, 12, 1) 0%,
    #0bc2fb 0%,
    rgba(8, 106, 229, 1) 100%
  );
  animation: rotation 2s linear infinite;
  z-index: -1;
  border-radius: 0.5rem;
}

.navbar__container__profile__signup::after {
  filter: blur(3.5rem);
}

@media screen and (max-width: 768px) {

    .navbar__container{
        display: none;
    }
    
}

/* ---------------------------------------------------------------- */

.navbar__container__mb{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 0;
}

.navbar__container__mb__top__wrapper{
    width: 100%;
    height: 5rem; /* Adjust height as needed */
    background-color: #0bc2fb;
    z-index: 1;
}



