.sidebar__navigation {
  width: 16%;
  height: 48vh;
  margin-top: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.7rem;
  background-color: var(--white-color);
  border-radius: 0.6rem;
  position: absolute;
  top: 0;
  left: 0;
  color: var(--primary-color);
}

.sidebar__navigation {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 18.5%;
  height: 70vh;
}

.sidebar__tabs {
  color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 16rem;
  height: 3rem;
  margin-top: 0.5rem;
  border-radius: 0.6rem;
  padding-left: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  transition: all 0.3 ease-out;

  span {
    margin-left: 1rem;
  }
}

.sidebar__tabs:hover {
  background-color: var(--secondary-color-white);
  border-left: 4px solid var(--secondary-color);
}

.sidebar__tabs.active {
  background-color: var(--secondary-color-white);
  border-left: 4px solid var(--secondary-color);
  color: var(--primary-color);
}

.sidebar__navigation__loading{
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}