.taskDashboard__container {
  background-color: var(--secondary-color-white);
  width: 100%;
  min-height: 89.5vh;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  position: relative;
  color: var(--primary-color);
}

.task__container {
  width: 58%;
  min-height: 22rem;
  margin-right: 0.7rem;
  margin-top: 0.6rem;
  border-radius: 0.6rem;
  margin-left: -0.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start !important;
  flex-direction: column;
  /* background-color: var(--white-color); */
  color: var(--primary-color);
}

.task__post__container__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 4rem;
  padding-top: 0.7rem;
  margin-top: 1rem;

  .container__left {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 1rem;

    .container__image {
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      overflow: hidden;
      border: 1px solid var(--secondary-color);

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .container__desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1rem;
    font-size: 14px;

    .user_name {
      color: var(--primary-color);
      font-weight: 400;
    }

    .user__time {
      font-weight: 600;
      color: var(--grey-color);
      font-size: 12px;
    }
  }
}

.container__right {
  padding-right: 1rem;
}

.task__container__bottom {
  width: 100%;
  height: 3rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task__bottom__left {
  width: 14rem;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 2rem;
    height: 2rem;
    object-fit: cover;
  }

  span {
    font-weight: 500;
  }

  .date__container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1.3rem;

    span {
      margin-left: 1rem;
    }
  }
}

.task__bottom__right {
  width: 8rem;
  height: 2rem;
  margin-left: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;

  button {
    width: 100%;
    height: 100%;
    margin-right: 1rem;
    border: none;
    border-radius: 0.5rem;
    color: var(--common-white);
    background-color: var(--secondary-color);
    font-weight: 700;
  }
}

.task__container__map {
  min-width: 55.5rem !important;
  border-radius: 0.6rem;
  margin-top: 1rem;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--white-color);
  padding-bottom: 1rem;
}

.closed__button{
  background-color: #13A280 !important;
  color: var(--white-color);
}

.rightSide__container {
  position: absolute;
}
